@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

body {
  background: image_url('color.jpg');
  background-size: 800px;
  }

  
  .jumbotron {
    background: image_url('tiny-squares.png');
  }

  h1 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 60px;
    color: rgb(165, 23, 101);
  }

  h3 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 20px;
    color: rgb(165, 23, 101);
  }